export AWS_ACCESS_KEY_ID=
export AWS_NODEJS_CONNECTION_REUSE_ENABLED=1
export AWS_REGION=us-east-1
export AWS_SECRET_ACCESS_KEY=
export HUBOT_DISCORD_TOKEN=
export HUBOT_STREAM_HOST=chorus.thasauce.net
export HUBOT_STREAM_MOUNT=compo
export HUBOT_STREAM_PORT=8000
export HUBOT_STREAM_SOURCE_PASSWORD=
export DEBUG_CHANNEL_ID=
export GUILD_ID=
